<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.eduservice.mapper.EduCourseMapper">

    <select id="getCoursePublicByCourseId" resultType="com.atguigu.eduservice.entity.vo.EduCoursePublicVo">

    SELECT ec.id, ec.title,ec.cover,ec.lesson_num,ecd.description,es1.title AS subject_level_two ,es2.title AS subject_level_one,et.`name` AS teacher_name,ec.price FROM `edu_course` ec
        LEFT JOIN edu_course_description ecd ON ec.id = ecd.edu_course_id
        LEFT JOIN edu_subject es1 ON ec.subject_id = es1.id
        LEFT JOIN edu_subject es2 ON ec.subject_parent_id = es2.id
        LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
    WHERE
        ec.id = #{courseId};
    </select>

    <select id="getCourseInfoFont" resultType="com.atguigu.eduservice.entity.vo.CourseWebVo">
        SELECT
			ec.id, ec.title,ec.price,ec.lesson_num,ec.cover,ec.lesson_num,ec.buy_count,ec.view_count,
			ec.teacher_id,ecd.description,ec.subject_id,es1.title AS subject_level_two ,ec.subject_parent_id,es2.title AS subject_level_one,
			et.`name` AS teacher_name,et.intro,et.avatar
		FROM `edu_course` ec
        LEFT JOIN edu_course_description ecd ON ec.id = ecd.edu_course_id
        LEFT JOIN edu_subject es1 ON ec.subject_id = es1.id
        LEFT JOIN edu_subject es2 ON ec.subject_parent_id = es2.id
        LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
    WHERE
        ec.id =  #{courseId};
    </select>
</mapper>
